---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/had-read-tester/reading-log/compare/abd53248e6b5875436651b92f4edc0631a54f374...c8df4d5a39224e14496996588112b7f834b7ea7f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1446980563'
      Last-Modified:
      - Sun, 08 Nov 2015 10:02:09 GMT
      Etag:
      - W/"6f851a02f1912f4495486f608c9a9ea6"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/had-read-tester/reading-log/compare/abd53248e6b5875436651b92f4edc0631a54f374...c8df4d5a39224e14496996588112b7f834b7ea7f","html_url":"https://github.com/had-read-tester/reading-log/compare/abd53248e6b5875436651b92f4edc0631a54f374...c8df4d5a39224e14496996588112b7f834b7ea7f","permalink_url":"https://github.com/had-read-tester/reading-log/compare/had-read-tester:abd5324...had-read-tester:c8df4d5","diff_url":"https://github.com/had-read-tester/reading-log/compare/abd53248e6b5875436651b92f4edc0631a54f374...c8df4d5a39224e14496996588112b7f834b7ea7f.diff","patch_url":"https://github.com/had-read-tester/reading-log/compare/abd53248e6b5875436651b92f4edc0631a54f374...c8df4d5a39224e14496996588112b7f834b7ea7f.patch","base_commit":{"sha":"abd53248e6b5875436651b92f4edc0631a54f374","commit":{"author":{"name":"had-read-tester","email":"tomi@eq8.eu","date":"2015-11-08T10:01:41Z"},"committer":{"name":"had-read-tester","email":"tomi@eq8.eu","date":"2015-11-08T10:01:41Z"},"message":"Update
        reading-log.md","tree":{"sha":"4790dca35028e01dda7b12d13ea49c72e861b135","url":"https://api.github.com/repos/had-read-tester/reading-log/git/trees/4790dca35028e01dda7b12d13ea49c72e861b135"},"url":"https://api.github.com/repos/had-read-tester/reading-log/git/commits/abd53248e6b5875436651b92f4edc0631a54f374","comment_count":0},"url":"https://api.github.com/repos/had-read-tester/reading-log/commits/abd53248e6b5875436651b92f4edc0631a54f374","html_url":"https://github.com/had-read-tester/reading-log/commit/abd53248e6b5875436651b92f4edc0631a54f374","comments_url":"https://api.github.com/repos/had-read-tester/reading-log/commits/abd53248e6b5875436651b92f4edc0631a54f374/comments","author":{"login":"had-read-tester","id":15713493,"avatar_url":"https://avatars.githubusercontent.com/u/15713493?v=3","gravatar_id":"","url":"https://api.github.com/users/had-read-tester","html_url":"https://github.com/had-read-tester","followers_url":"https://api.github.com/users/had-read-tester/followers","following_url":"https://api.github.com/users/had-read-tester/following{/other_user}","gists_url":"https://api.github.com/users/had-read-tester/gists{/gist_id}","starred_url":"https://api.github.com/users/had-read-tester/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/had-read-tester/subscriptions","organizations_url":"https://api.github.com/users/had-read-tester/orgs","repos_url":"https://api.github.com/users/had-read-tester/repos","events_url":"https://api.github.com/users/had-read-tester/events{/privacy}","received_events_url":"https://api.github.com/users/had-read-tester/received_events","type":"User","site_admin":false},"committer":{"login":"had-read-tester","id":15713493,"avatar_url":"https://avatars.githubusercontent.com/u/15713493?v=3","gravatar_id":"","url":"https://api.github.com/users/had-read-tester","html_url":"https://github.com/had-read-tester","followers_url":"https://api.github.com/users/had-read-tester/followers","following_url":"https://api.github.com/users/had-read-tester/following{/other_user}","gists_url":"https://api.github.com/users/had-read-tester/gists{/gist_id}","starred_url":"https://api.github.com/users/had-read-tester/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/had-read-tester/subscriptions","organizations_url":"https://api.github.com/users/had-read-tester/orgs","repos_url":"https://api.github.com/users/had-read-tester/repos","events_url":"https://api.github.com/users/had-read-tester/events{/privacy}","received_events_url":"https://api.github.com/users/had-read-tester/received_events","type":"User","site_admin":false},"parents":[{"sha":"1e996dc5607c3a52e8c420a3ea1b8e6ff7187846","url":"https://api.github.com/repos/had-read-tester/reading-log/commits/1e996dc5607c3a52e8c420a3ea1b8e6ff7187846","html_url":"https://github.com/had-read-tester/reading-log/commit/1e996dc5607c3a52e8c420a3ea1b8e6ff7187846"}]},"merge_base_commit":{"sha":"abd53248e6b5875436651b92f4edc0631a54f374","commit":{"author":{"name":"had-read-tester","email":"tomi@eq8.eu","date":"2015-11-08T10:01:41Z"},"committer":{"name":"had-read-tester","email":"tomi@eq8.eu","date":"2015-11-08T10:01:41Z"},"message":"Update
        reading-log.md","tree":{"sha":"4790dca35028e01dda7b12d13ea49c72e861b135","url":"https://api.github.com/repos/had-read-tester/reading-log/git/trees/4790dca35028e01dda7b12d13ea49c72e861b135"},"url":"https://api.github.com/repos/had-read-[...]
[...]
