---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/equivalent/reading-log/compare/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8...867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1446947403'
      Last-Modified:
      - Fri, 30 Oct 2015 21:33:52 GMT
      Etag:
      - W/"442295a08ca87c59db1a2db1a2b7fc1f"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/equivalent/reading-log/compare/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8...867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9","html_url":"https://github.com/equivalent/reading-log/compare/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8...867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9","permalink_url":"https://github.com/equivalent/reading-log/compare/equivalent:5680d1d...equivalent:867515c","diff_url":"https://github.com/equivalent/reading-log/compare/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8...867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9.diff","patch_url":"https://github.com/equivalent/reading-log/compare/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8...867515c9e145b8a35b68ad8dcbd6ba5a4e39b0c9.patch","base_commit":{"sha":"5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-30T10:03:17Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-30T10:03:17Z"},"message":"angular
        file structure","tree":{"sha":"b52a4369d78b01a6a8df0fd79532fe0ca11d1a57","url":"https://api.github.com/repos/equivalent/reading-log/git/trees/b52a4369d78b01a6a8df0fd79532fe0ca11d1a57"},"url":"https://api.github.com/repos/equivalent/reading-log/git/commits/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8","comment_count":0},"url":"https://api.github.com/repos/equivalent/reading-log/commits/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8","html_url":"https://github.com/equivalent/reading-log/commit/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8","comments_url":"https://api.github.com/repos/equivalent/reading-log/commits/5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8/comments","author":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"committer":{"login":"equivalent","id":721990,"avatar_url":"https://avatars.githubusercontent.com/u/721990?v=3","gravatar_id":"","url":"https://api.github.com/users/equivalent","html_url":"https://github.com/equivalent","followers_url":"https://api.github.com/users/equivalent/followers","following_url":"https://api.github.com/users/equivalent/following{/other_user}","gists_url":"https://api.github.com/users/equivalent/gists{/gist_id}","starred_url":"https://api.github.com/users/equivalent/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/equivalent/subscriptions","organizations_url":"https://api.github.com/users/equivalent/orgs","repos_url":"https://api.github.com/users/equivalent/repos","events_url":"https://api.github.com/users/equivalent/events{/privacy}","received_events_url":"https://api.github.com/users/equivalent/received_events","type":"User","site_admin":false},"parents":[{"sha":"fda59c6971950cc39f1f7526eef4b04f5c27a22c","url":"https://api.github.com/repos/equivalent/reading-log/commits/fda59c6971950cc39f1f7526eef4b04f5c27a22c","html_url":"https://github.com/equivalent/reading-log/commit/fda59c6971950cc39f1f7526eef4b04f5c27a22c"}]},"merge_base_commit":{"sha":"5680d1db3ab4ec2bf76c8ad6bbec3ec0ef8303c8","commit":{"author":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-30T10:03:17Z"},"committer":{"name":"Tomas
        Valent","email":"equivalent@eq8.eu","date":"2015-10-30T10:03:17Z"},"message":"angular
        file structure","tree":{"sha":"b52a4369d78b01a6a8df0fd79532fe0ca11d1a57","url":"https://api.github.com/repos/equivalent/reading-log/git/trees/b52a4369d78b01a6a8df0fd79532fe0ca11d1a57"},"url":"https://api.github.c[...]
[...]
