// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";

$headings-font-family: 'Bangers', cursive;
$brand-primary: #794522;

@import "bootswatch/united/variables";
@import "bootstrap";
@import 'font-awesome';

i.fa {
  margin: {
    right: 0.5em;
  }
}

body, html {
  height: 100%;
}

.voodoo-monkey { 
  display: block;
  width: 230px;
  height: 230px;
}


$footersize: 230px;
$footer-margin: 30px;

body {
  .wrapper {
    min-height: 100%;
    margin-bottom: -$footersize - $footer-margin
  }
}

footer, .sticky-push {
  margin-top: $footer-margin;
  height: $footersize;
}

footer {
  background: {
    color: silver;
  }
}






.media-heading {
  small {
    margin-left: 1em;
  }
}
