// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/united/variables";
@import "bootstrap";

body, html {
  height: 100%;
}

.voodoo-monkey { 
  display: block;
  width: 230px;
  height: 230px;
}


$footersize: 230px;
$footer-margin: 30px;

body {
  .wrapper {
    min-height: 100%;
    margin-bottom: -$footersize - $footer-margin
  }
}

footer, .sticky-push {
  height: $footersize;
}

footer {
  margin-top: $footer-margin;
  background: {
    color: silver;
  }
}
